h1 {
  color: aliceblue;
}
h3 {
  color: aliceblue;
}
ul {
  color: antiquewhite;
}
body {
  background-image: url("https://images7.alphacoders.com/112/thumb-1920-1128966.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
p {
  color: aliceblue;
}
table {
  color: aliceblue;
}
