h1 {
  color: aliceblue;
}
h3 {
  color: aliceblue;
}
ul {
  color: antiquewhite;
}
body {
  background-image: url("https://images4.alphacoders.com/904/thumb-1920-904629.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
p {
  color: aliceblue;
}
h4 {
  color: aliceblue;
}
